@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Invoice app for small businesses</h1>
    <p class="lead">Any small business can administrate their invoices easily with this app.</p>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>New Invoice</h2>
		<p>Create a new invoice</p>
		<p><a class="btn btn-default" href="/Invoice/Create">New Invoice</a></p>
	</div>
	<div class="col-md-4">
		<h2>New Invoice Detail</h2>
		<p>Create a new invoice detail</p>
		<p><a class="btn btn-default" href="/InvoiceDetail/Create">New Invoice Detail</a></p>
	</div>
	<div class="col-md-4">
		<h2>New Customer</h2>
		<p>Create a new customer</p>
		<p><a class="btn btn-default" href="/Customer/Create">New Customer</a></p>
	</div>
</div>