@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Invoice app for small businesses</h1>
    <p class="lead">Any small business can administrate their invoices easily with this app.</p>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>New Invoice</h2>
		<p>Create a new invoice in the system</p>
		<p><a class="btn btn-default" href="#">New Invoice</a></p>
	</div>
	<div class="col-md-4">
		<h2>All Users</h2>
		<p>See all users</p>
		<p><a class="btn btn-default" href="/User/Index">See Users</a></p>
	</div>
	<div class="col-md-4">
		<h2>Show Invoice</h2>
		<p>See an invoice in detail.</p>
		<p><a class="btn btn-default" href="#">Show Invoice</a></p>
	</div>
</div>